.navbar-brand {
  float: none;
  height: auto; }

.navbar-nav li a {
  font-weight: bold; }

.navbar-brand > img {
  max-width: 150px; }

body {
  color: #4b595e; }

h1 {
  font-size: 16px;
  color: #747274; }

.well {
  background-color: none; }

.jumbotron {
  background-color: #049EDC;
  color: white; }

.jumbotron a.phone-number {
  font-size: 2em; }

.inset-text {
  /* Shadows are visible under slightly transparent text color */
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 4px 6px #000, 0 0 0 #def, 1px 4px 6px #000; }

/* Don't show shadows when selecting text */
::-moz-selection {
  background: #5af;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #5af;
  color: #fff;
  text-shadow: none; }

.site-footer {
  background-color: #8CC63C;
  color: #4b595e;
  padding: 1em; }
  .site-footer .footer-title {
    font-weight: bold; }
  .site-footer .text {
    font-size: 1em; }

.process-step {
  display: block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  -moz-border-radius: 30px;
  /* or 50% */
  border-radius: 30px;
  /* or 50% */
  background-color: #8CC63C;
  color: white;
  margin: 0 auto;
  font-size: 2em; }

@media all and (max-width: 767) {
  .navbar-brand > img {
    margin-left: 15px; } }
@media all and (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 55px;
    padding-bottom: 35px; } }
